* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(18, 119, 208);
    height: 10vh;
}

.nav {
    background-color: rgb(112, 214, 33);
    height: 40px;
}

.main {
    background-color: rgb(58, 16, 142);
    color: white;

    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 70%;
}

.footer {
    background-color: rgb(219, 40, 40);
    height: 10vh;
}

.section {
    background-color: brown;
}

.aside {
    background-color: cadetblue;
}

.container {
    padding: 0.2rem;
    margin: 0.2rem;
    outline: auto;
    height: 95vh;
}