/* Universal Selector */

/* * {
    margin: 0;
    padding: 0;
} */

/* Element Selector */
article {
    color: red;
    margin: 10px;
}

/* Class Selector */
.red {
    color: rgb(45, 45, 179);
}

/* Id selector */
#first {
    font-size: 2rem;
    text-decoration: underline;
}

/* Combine */

/* all siblings */
section~p {
    color: red;
}

/* direct sibling */
section+p {
    background-color: blueviolet;
}

/* OR Operator */
main,
footer {
    outline: aqua dotted 3px;
}


/* .red {
    background-color: red;
    color: white;
}

.yellow {
    text-decoration: underline;
    color: blue;
} */

/* Attribute Selector */
input[type="email"] {}

/* Pseudo Elements */
p::after {
    content: "**";
}

p::before {
    content: "--";
    background: yellow;

}

/* Pseudo Classes */

nav li:hover {
    color: white;
    background: green;
    font-size: larger;
}

input:required {
    background-color: red;
}

input:checked {}

/* P */
/* AND operator */
/* li.red {
    color: blue;
} */


/* li:first-child {
    background-color: beige;
    font-size: larger;
    color: brown;
    border: 1px solid chocolate;
} */
li:nth-child(2n-1) {
    background-color: beige;
    font-size: larger;
    color: brown;
    border: 1px solid chocolate;
}




/* article>p {
    color: red;
}

h1 {
    color: blue;
}

p.news~section {
    outline: red solid 2px;
    text-align: center;
} */